<header class="animated fadeInDown">
  <div class="grid">
    <div class="unit half center-on-mobiles">
      <h1>
        <a href="{{ site.baseurl }}">
          <div class="avatar">
            <img src="https://i.imgur.com/zzDJdTf.png" />
          </div>
          <div class="id">
            <span class="name">Supreeth S</span>
            <span class="handle">@hallidude</span>
          </div>
        </a>
      </h1>
    </div>
    <nav class="unit half align-right center-on-mobiles">
      <ul class="contact">
        <li>
          <a href="https://twitter.com/hallidude">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/hallidude">
            <i class="icon-github"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/hallidude">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="mailto:hallidude@gmail.com">
            <i class="icon-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
